In [3]:
import pandas as pd

In [1]:
def format_result(result):
    """Format a pandas result into a string representation.
    
    This function handles the complexity of converting different pandas result types
    into consistent, human-readable string formats. It implements special handling for:
    
    1. Single-value Series - returned as plain scalars without index
    2. Single-cell DataFrames - collapsed to scalar values
    3. Multi-row/column results - formatted as tables without index columns
    
    This consistent formatting is important for providing clear, predictable responses
    to the user regardless of the internal data structures used.
    
    Args:
        result: The pandas result object (DataFrame, Series, or other value)
        
    Returns:
        str: A consistently formatted string representation of the result
    """
    if isinstance(result, pd.Series):
        # Return scalar directly for single-item Series
        # This provides cleaner output for common aggregation operations
        if len(result) == 1:
            return str(result.iloc[0])
        result_str = result.to_string(index=False)
    elif isinstance(result, pd.DataFrame):
        # Collapse to scalar for 1×1 DataFrames
        # This simplifies results for queries that return a single value
        if result.shape == (1, 1):
            return str(result.iat[0, 0])
        result_str = result.to_string(index=False)
    else:
        # For non-pandas types, just use string conversion
        result_str = str(result)
    
    return result_str

In [4]:
df_single = pd.DataFrame([[100]], columns=['Value'])
print("\nExample 3 - Single-cell DataFrame:")
print(format_result(df_single))  # Output: 100

Example 3 - Single-cell DataFrame:
100

In [5]:
df_single.head()

   Value
0    100

In [1]:
import pandas as pd

# Create dummy DataFrame
data = [("John", 28, "New York"), 
        ("Alice", 34, "Chicago"), 
        ("Bob", 45, "Los Angeles"),
        ("Emma", 29, "Miami"),
        ("David", 31, "Seattle")]

columns = ["Name", "Age", "City"]
df_pandas = pd.DataFrame(data, columns=columns)

# 1. head() - most similar to show()
print("Using head():")
print(df_pandas.head())

# 2. Direct display in Jupyter/IPython
print("\nDirect display (in Jupyter this would render as a table):")
display(df_pandas)  # Works in Jupyter/IPython

# 3. to_string() for console output
print("\nUsing to_string():")
print(df_pandas.to_string())

# 4. sample() for random rows
print("\nUsing sample():")
print(df_pandas.sample(2))  # Shows 2 random rows

Using head():
    Name  Age         City
0   John   28     New York
1  Alice   34      Chicago
2    Bob   45  Los Angeles
3   Emma   29        Miami
4  David   31      Seattle

Direct display (in Jupyter this would render as a table):

    Name  Age         City
0   John   28     New York
1  Alice   34      Chicago
2    Bob   45  Los Angeles
3   Emma   29        Miami
4  David   31      Seattle

Using to_string():
    Name  Age         City
0   John   28     New York
1  Alice   34      Chicago
2    Bob   45  Los Angeles
3   Emma   29        Miami
4  David   31      Seattle

Using sample():
    Name  Age         City
4  David   31      Seattle
2    Bob   45  Los Angeles

In [2]:
# 3. to_string() for console output
print("\nUsing to_string():")
print(df_pandas.to_string())

Using to_string():
    Name  Age         City
0   John   28     New York
1  Alice   34      Chicago
2    Bob   45  Los Angeles
3   Emma   29        Miami
4  David   31      Seattle

In [1]:
import asyncio
import time

# Global counter to show execution order
step_counter = 0

def next_step():
    global step_counter
    step_counter += 1
    return step_counter

async def cook_meal(name, cook_time):
    """Simulate cooking a meal"""
    step = next_step()
    print(f"🍳 Step {step}: Started cooking {name} (takes {cook_time}s)")
    await asyncio.sleep(cook_time)  # This is where we yield control
    step = next_step()
    print(f"✅ Step {step}: {name} is ready!")
    return f"{name} meal"

async def serve_customer(customer_name, meal, cook_time):
    """Simulate serving one customer"""
    step = next_step()
    print(f"👋 Step {step}: Greeting {customer_name}")
    
    # Take the order (instant)
    step = next_step()
    print(f"📝 Step {step}: Taking order from {customer_name}: {meal}")
    
    # Send order to kitchen and wait (this is where we "await")
    meal_result = await cook_meal(meal, cook_time)
    
    # Serve the meal (instant)
    step = next_step()
    print(f"🍽️ Step {step}: Serving {meal_result} to {customer_name}")
    return f"{customer_name} served"

async def simple_restaurant_demo():
    """Simple demo showing event loop switching with numbered steps"""
    global step_counter
    step_counter = 0  # Reset counter
    
    print("🏪 Restaurant Demo: Watch the Step Numbers!")
    print("=" * 50)
    
    # Start serving 3 customers concurrently
    # Watch how the step numbers show the switching!
    results = await asyncio.gather(
        serve_customer("Alice", "Pasta", 2),
        serve_customer("Bob", "Burger", 1),
        serve_customer("Carol", "Salad", 0.5)
    )
    
    print("=" * 50)
    print("🎉 All customers served!")
    print(f"📊 Total steps: {step_counter}")
    return results

# Run the demo
asyncio.run(simple_restaurant_demo())

RuntimeError: asyncio.run() cannot be called from a running event loop

In [ ]:
(total_tokens + max_tokens - 1) // max_tokens

In [1]:
(12000+8000-1)//8000

2

In [5]:
import random
import math

# Configuration variables
DEFAULT_FUNC1 = lambda a, b: (a + b - 1) // b  # Integer ceiling division
DEFAULT_FUNC2 = lambda a, b: math.ceil(a / b)  # Float ceiling division
NUM_TESTS = 100
MIN_VALUE = 1
MAX_VALUE = 1000000

def test_ceiling_division_equivalence(
    func1=DEFAULT_FUNC1, 
    func2=DEFAULT_FUNC2, 
    num_tests=NUM_TESTS, 
    min_val=MIN_VALUE, 
    max_val=MAX_VALUE
):
    """Test that two ceiling division functions produce equivalent results.
    
    Args:
        func1: First function that takes (total_tokens, max_tokens) and returns num_chunks
        func2: Second function that takes (total_tokens, max_tokens) and returns num_chunks
        num_tests: Number of random test cases to run
        min_val: Minimum value for random integers (inclusive)
        max_val: Maximum value for random integers (inclusive)
    """
    for test_idx in range(num_tests):
        # Generate random positive integers for testing
        total_tokens = random.randint(min_val, max_val)
        max_tokens = random.randint(min_val, max_val)
        
        # Compute results using both functions
        result1 = func1(total_tokens, max_tokens)
        print(result1)
        result2 = func2(total_tokens, max_tokens)
        print(result2)
        
        # Assert equivalence
        assert result1 == result2, (
            f"Ceiling division mismatch in test {test_idx + 1}: "
            f"{result1} != {result2} for total_tokens={total_tokens}, max_tokens={max_tokens}"
        )

# Example usage
if __name__ == "__main__":
    # Run with default config
    test_ceiling_division_equivalence()
    print("✅ All tests passed: Both ceiling division methods are equivalent.")
    
    # Example with custom functions
    # custom_func1 = lambda a, b: (a + b - 1) // b
    # custom_func2 = lambda a, b: math.ceil(float(a) / b)
    # test_ceiling_division_equivalence(func1=custom_func1, func2=custom_func2, num_tests=50)

1
1
1
1
3
3
2
2
4
4
1
1
1
1
3
3
23
23
1
1
1
1
1
1
1
1
3
3
2
2
1
1
2
2
1
1
4
4
1
1
1
1
1
1
1
1
1
1
1
1
2
2
6
6
1
1
1
1
1
1
1
1
4
4
3
3
4
4
12
12
1
1
1
1
2
2
11
11
3
3
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
2
2
2
2
1
1
1
1
214
214
3
3
1
1
3
3
2
2
1
1
3
3
5
5
19
19
1
1
117
117
1
1
13
13
6
6
2
2
1
1
8
8
1
1
2
2
8
8
1
1
1
1
2
2
1
1
1
1
1
1
1
1
4
4
3
3
1
1
3
3
2
2
1
1
1
1
2
2
6
6
1
1
3
3
2
2
1
1
1
1
2
2
13
13
1
1
7
7
1
1
3
3
6
6
✅ All tests passed: Both ceiling division methods are equivalent.